<div class="navBar">
    <ul>
        <li >
            View 
            <mat-icon>dashboard</mat-icon>        
        </li>
        <li>
            Add 
            <mat-icon>dashboard</mat-icon> 
        </li>
        <li>
            Update 
            <mat-icon>dashboard</mat-icon> 
        </li>
        <li>
            Delete 
            <mat-icon>dashboard</mat-icon> 
        </li>
        
    </ul>

    <div class="navigateNext">
        <mat-icon>navigate_next</mat-icon>

    </div>
   
</div>